*{
  margin: 0px;
  padding: 0px;
}

html{
  height: 100%;
}

body{
  font-family: "Poppins", sans-serif;
  background: linear-gradient(90deg, #887782,	#cec9cc);
  animation: gradient 15s ease infinite;
  background-size: 200% 200%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
