<!-- update-password.component.html -->
<div class="update-password-card">
  <h2>Update Password</h2>
  <form (ngSubmit)="updatePassword()">
    <div class="form-group">
      <label for="current-password">Current Password</label>
      <input
        type="password"
        id="current-password"
        name="currentPassword"
        placeholder="Current Password"
        required
      />
    </div>

    <div class="form-group">
      <label for="new-password">New Password</label>
      <div class="password-holder">
        <input
          type="password"
          id="new-password"
          class="newpassword"
          name="newPassword"
          placeholder="New Password"
          required
        />
        <span id="light"></span>

        <img
          src="image/flashlight.png"
          height="20px"
          alt="flashlight"
          (click)="lighton('new-password', 'light', 'flashlight')"
          class="flashlight"
          id="flashlight"
        />
      </div>
    </div>

    <div class="form-group">
      <label for="confirm-password">Confirm New Password</label>
      <div class="password-holder">
        <input
          type="password"
          id="confirm-password"
          class="confirmpassword"
          name="confirmPassword"
          placeholder="Confirm Password"
          required
        />
        <span id="light1"></span>
        <img
          src="image/flashlight.png"
          height="20px"
          alt="flashlight"
          (click)="lighton('new-password', 'light1', 'flashlight1')"
          class="flashlight"
          id="flashlight1"
        />
      </div>
    </div>

    <button type="submit">Update Password</button>
  </form>
</div>
