<!-- update-password.component.html -->
<div class="update-password-card">
  <h2>Update Password</h2>
  <form [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword()">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        formControlName="email"
        placeholder="email Password"
        required
      />
    </div>

    <div class="form-group">
      <label for="currentpassword">Current Password</label>
      <input
        type="password"
        id="currentpassword"
        name="currentPassword"
        formControlName="currentpassword"
        placeholder="Current Password"
        required
      />
    </div>

    <div class="form-group">
      <label for="newpassword">New Password</label>
      <div class="password-holder">
        <input
          type="password"
          id="newpassword"
          class="newpassword"
          name="newpassword"
          formControlName="newpassword"
          placeholder="New Password"
          required
        />
        <span id="light"></span>

        <img
          src="image/flashlight.png"
          height="20px"
          alt="flashlight"
          (click)="lighton('newpassword', 'light', 'flashlight')"
          class="flashlight"
          id="flashlight"
        />
      </div>
    </div>

    <div class="form-group">
      <label for="confirmpassword">Confirm New Password</label>
      <div class="password-holder">
        <input
          type="password"
          id="confirmpassword"
          class="confirmpassword"
          name="confirmPassword"
          formControlName="confirmpassword"
          newpassword="confirmpassword"
          placeholder="Confirm Password"
          required
        />
        <span id="light1"></span>
        <img
          src="image/flashlight.png"
          height="20px"
          alt="flashlight"
          (click)="lighton('confirmpassword', 'light1', 'flashlight1')"
          class="flashlight"
          id="flashlight1"
        />
      </div>
    </div>

    <button type="submit">Update Password</button>
  </form>
</div>
